{% extends "iw_app/base.html" %}
{% load static %}

{% block content %}
<main id="about_contact">
  <header>
    <h3>INTERFACE MAGAZINE</h3>
  </header>
  <article>
    <p>Interface/Interfa.su is a quarterly cyberpunk zine. I will be using this website to compile articles for the zine before each quarterly release. The most interesting articles and tutorials on this website will be adapted to paper and shipped with the first edition of Interface. We're looking for more people to author articles right now, if you like the content on this site and you'd like to contribute, get in touch at <a href="mailto:webmaster@example.com">c4rdinal@protonmail.com</a>
    </p>
    <p>
    I'd also like to thank <a href="https://lainchan.org/zine" target="blank">Lainzine</a> and the users at <a href="https://lainchan.org" target="blank">Lainchan</a> as well as my friends in <a href="http://emvystudio.com/">meat-space</a> for the inspiration behind this project check them out.
    </p>
    <p>
      Stay safe, c4rdinal
    </p>
  </article>
</main>
{% endblock content %}
